/*****structure*****/
.logo
	{margin:0;
	font-size:1.6em;
	position:relative;
	z-index:1;
	}
.logo a
	{display:block;
	width:120px;
	height:auto;
	padding:0.6em 1em 0.4em 0.7em;
	}
.logo img
	{width:120px;
	height:auto;
	}
.nav-anchors
	{display:none;
	}
.product-img
	{float:left;
	width:50%;
	height:auto;
	margin-top:4.8em;
	}
/***aux content***/
.aux header a:after, .aux header a.open:after
	{content:"";
	}
/***related***/
.related-products
	{clear:both;
	border:0;
	}
.related-products li
	{width:16.6666667%;
	}
/*****end structure*****/

@media screen and (min-width:40.5em) and (max-width:60em)
	{.product-img
		{width:60%;
		}
	}
@media screen and (min-width:60em)
	{.product-img
		{width:67%;
		}
	.img-container
		{margin-left:7em;
		}
	}
/* For IE7 which doesn't support display:inline-block
label, input, textarea, .nav-anchors li, .nav li, .price, .star, .star li, .product-img nav, .product-img nav li, .product-utils a, .reviews header h2, .footer li
	{zoom:1;
	*display:inline;
	}
