/*****reset*****/
ol, ul
	{list-style:none;
	}
.product-img
	{position: relative;
	text-align:center;
	}
.img-container
	{position:relative;
	overflow:hidden;
	margin:0 auto 0.5em;
	background:#fff;
	border: 1px solid #d7dad3;
	-moz-border-radius:0.5em;
	-webkit-border-radius:0.5em;
	-o-border-radius:0.5em;
	-ms-border-radius:0.5em;
	border-radius:0.5em;
	}
.img-container img
	{display:block;
	width:100%;
	-moz-box-sizing:border-box;
	-webkit-box-sizing:border-box;
	-ms-box-sizing:border-box;
	-o-box-sizing:border-box;
	box-sizing:border-box;
	}
/*****related products*****/
.related-list
	{position:relative;
	}
.related-products
	{position:relative;
	border-top:1px solid #808080;
	border-top:1px solid rgba(255,255,255,0.5);
	border-bottom:1px solid #b0b3bad;
	border-bottom:1px solid rgba(0,0,0,0.1);
	}
.related-products ul
	{magin:0 -.5em;
	position:relative;
	z-index:1;
	left:0;
	}
.related-products li
	{float:left;
	-moz-box-sizing:border-box;
	-webkit-box-sizing:border-box;
	-ms-box-sizing:border-box;
	-o-box-sizing:border-box;
	padding:0.5em;
	width:50%;
	}
.related-products li a
	{display:block;
	border:1px solid #b0b3ad;
	-moz-border-radius:0.5em;
	-webkit-border-radius:0.5em;
	-o-border-radius:0.5em;
	-ms-border-radius:0.5em;
	border-radius:0.5em;
	-webkit-transition: all 0.3s ease-out;
	}
.related-products li a:hover, .related-products li a:focus
	{border-color:#fff;
	-webkit-box-shadow: 0 0 20px rgba(0,0,0,0.4);
	}
.related-products li img
	{display:block;
	width:100%;
	}
.related-products li:last-child
	{margin:0;
	}
/*****mobile queries*****/
@media screen and (min-width:28.75em)
	{.related-products li
		{width:33.3333333%;
		}
	}
