/*****reset*****/
ol, ul
	{list-style:none;
	}
/*****end reset*****/
/*****structure*****/
header[role="banner"]
	{position:relative;
	background:#111;
	background:-moz-linear-gradient(top, #111 0%, #222 100%);
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0%,#111), color-stop(100%,#222));
	background:-webkit-linear-gradient(top,#111 0%,#222 100%);
	background:-o-linear-gradient(top,#111 0%,#222 100%);
	background:-ms-linear-gradient(top,#111 0%,#222 100%);
	background:linear-gradient(top,#111 0%,#222 100%);
	}
header[role="banner"] a:hover, header[role="banner"] a:focus
	{color:#fff;
	background-image:-webkit-radial-gradient(ellipse closest-side, rgba(255,255,255,0.1), rgba(255,255,255,0));
	background-image:-moz-radial-gradient(ellipse closest-side, rgba(255,255,255,0.1), rgba(255,255,255,0));
	background-image:-ms-radial-gradient(ellipse closest-side, rgba(255,255,255,0.1), rgba(255,255,255,0));
	background-image:-o-radial-gradient(ellipse closest-side, rgba(255,255,255,0.1), rgba(255,255,255,0));
	}
.logo
	{float:left;
	margin:0.35em 0 0.25em 0.7em;
	}
.logo a, .logo img
	{width:100px;
	height:19px;
	}
.product-img
	{position: relative;
	text-align:center;
	}
.img-container
	{position:relative;
	overflow:hidden;
	margin:0 auto 0.5em;
	background:#fff;
	border: 1px solid #d7dad3;
	-moz-border-radius:0.5em;
	-webkit-border-radius:0.5em;
	-o-border-radius:0.5em;
	-ms-border-radius:0.5em;
	border-radius:0.5em;
	}
.img-container img
	{display:block;
	width:100%;
	-moz-box-sizing:border-box;
	-webkit-box-sizing:border-box;
	-ms-box-sizing:border-box;
	-o-box-sizing:border-box;
	box-sizing:border-box;
	}
/***related products***/
.related-list
	{position:relative;
	}
.related-products
	{position:relative;
	border-top:1px solid #808080;
	border-top:1px solid rgba(255,255,255,0.5);
	border-bottom:1px solid #b0b3bad;
	border-bottom:1px solid rgba(0,0,0,0.1);
	}
.related-products ul
	{magin:0 -.5em;
	position:relative;
	z-index:1;
	left:0;
	}
.related-products li
	{float:left;
	-moz-box-sizing:border-box;
	-webkit-box-sizing:border-box;
	-ms-box-sizing:border-box;
	-o-box-sizing:border-box;
	padding:0.5em;
	width:50%;
	}
.related-products li a
	{display:block;
	border:1px solid #b0b3ad;
	-moz-border-radius:0.5em;
	-webkit-border-radius:0.5em;
	-o-border-radius:0.5em;
	-ms-border-radius:0.5em;
	border-radius:0.5em;
	-webkit-transition: all 0.3s ease-out;
	}
.related-products li a:hover, .related-products li a:focus
	{border-color:#fff;
	-webkit-box-shadow: 0 0 20px rgba(0,0,0,0.4);
	}
.related-products li img
	{display:block;
	width:100%;
	}
.related-products li:last-child
	{margin:0;
	}
/*****end structure*****/
/*****mobile queries*****/
@media screen and (min-width:28.75em)
	{.related-products li
		{width:33.3333333%;
		}
	}
/*****end mobile queries*****/
