.product-img
	{position: relative;
	text-align:center;
	}
.img-container
	{position:relative;
	overflow:hidden;
	margin:0 auto 0.5em;
	background:#fff;
	border: 1px solid #d7dad3;
	-moz-border-radius:0.5em;
	-webkit-border-radius:0.5em;
	-o-border-radius:0.5em;
	-ms-border-radius:0.5em;
	border-radius:0.5em;
	}
.img-container img
	{display:block;
	width:100%;
	-moz-box-sizing:border-box;
	-webkit-box-sizing:border-box;
	-ms-box-sizing:border-box;
	-o-box-sizing:border-box;
	box-sizing:border-box;
	}
